/*
 * Responsive CSS 089-Webdesign
 */

@media(width: 320px) {

}
@media(width: 414px) {
	body#body.phone .gallery--slider,
	body#body.phone .gallery--slides div {
	    width: 380px;
	}
}
@media(width: 480px) {
	
}

@media(max-width: 600px) {
	body#body.mobile.tablet .info-kachel--wrapper {
	    padding: 0px 20px;
	}
	body.mobile.tablet .innerwidth.info-kachel--wrapper p {
	    font-size: 12px;
	}
	body.mobile.tablet .info-kachel--text h3 {
	    font-size: 12px;
	}
}
@media (max-width: 767px) {
	body#body.mobile {
	    padding-right: 0px;
	    padding-left: 0px;
	}
}
@media(width: 768px) {
	
}

@media(width: 800px) {
	
}
@media(max-width: 667px) and (orientation: landscape) {
	body#body.phone .gallery--slider {
	    transform: scale(0.8);
	}
}
@media(max-width: 880px) and (orientation: portrait ) {

}

@media(max-width: 880px) and (orientation: landscape) {
	body#body.mobile.phone.start .content {
	    height: 50%;
	}
	body#body.phone .header--img--container {
		height: initial;
	}
	body#body.phone .header--content__container {
    	width: auto;
	}
	body#body.phone .galery--item {
	    max-width: 70%;
	}
	body#body.phone #wrapper .nav-collapse.collapse {
	    width: 70%;
	}
	body.phone .item-page--img {
	    height: 150px;
	}
	body.phone .item-page--img img {
	    object-fit: cover;
	    width: 100%;
	    height: 100%;
	}
	body.phone .team--item.flex {
	    -webkit-box-align: center;
	        -ms-flex-align: center;
	            align-items: center;
	}
	body#body.phone.team .item-page--team {
	    padding-left: 50px;
	    padding-right: 50px;
	}
	body.phone .item-page.unternehmen.historie .innerwidth>h2 {
	    padding-left: 20px;
	}
	body.phone.soziales .item-page--img {
	    height: 270px;
	    overflow: hidden;
	    text-align: center;
	}
	body.phone.soziales .item-page--img img {
	    object-fit: initial; 
	    width: initial; 
	    height: initial; 
	}
	body#body.phone .flex.soziales-bottom {
	    max-width: 60%;
	    margin: 60px auto;
	}
	body.phone .gallery--item {
	    max-width: 80%;
	    margin: 0px auto 60px;
	}
	body#body.phone .gallery--slider,
	body#body.phone .gallery--slides div {
	    width: 440px;
	}	
	body.phone .gallery--slider {
	    transform: scale(0.95);
	}

}
@media(max-width: 880px) {
/*critical*/
	body.planung.phone header#header img {
		object-position: 10% 0%;
	}
	body.mobile.phone .nav-collapse.collapse {
		right: 0px;
	}
	body.mobile.phone .item-page.start h2 {
	    font-size: 18px;
	    padding: 0px 5px;
	}
	body.phone .item-page.start h1 {
	    font-size: 16px;
	    padding: 0px 5px;
    }
	body.phone .container-header.center {
	    padding: 5px 5px 10px;
	    background: #fff;
	}
	body.mobile.phone.start .content {
	    height: 70%;
	}
	body.mobile .logo-container--text h3 {
	    font-size: 10px;
	    line-height: 15px;
	}
	body.mobile .logo-container--text h2 {
	    font-size: 14px;
	    margin: 3px;
	    line-height: 20px;
	}
	body.phone .logo--small img {
	    width: 60px;
	}
	body#body.phone .logo--small {
	    display: block;
	    position: relative;
	    z-index: 1;
	}
	body.phone .logo--small {
	    padding: 10px 0px 10px 10px;
	}
	body#body.phone div#wrapper {
		position: relative;
	}
	body#body.phone div#wrapper:before {
	    content: '';
	    position: absolute;
	    width: 100%;
	    height: 100%;
		background: rgba(0,0,0,0);
		transition: background 0.5s ease-in-out;
	    top: 0;
	    left: 0;
	    z-index: -1;
	}
	body#body.phone div#wrapper.blackened:before {
	    background: rgba(0,0,0,0.5);
	    z-index: 1;
	}
	body.mobile.phone .logo-container--text {
	    padding-left: 0px;
	}
	body#body.phone .navbar {
	    position: absolute;
	    top: 20px;
	    right: 0px;
	    margin: 0px;
	    width: 80%;
	}
	body#body.phone .nav-collapse.collapse {
	    width: 100%;
	}
	body#body.mobile.phone nav.navbar-wrapper.flex.fullwidth {
	    display: block;
	    width: 100%;
	}
	body.mobile.phone .flex.space-between.welcome-nav {
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	        -ms-flex-direction: column;
	            flex-direction: column;
	    -webkit-box-align: center;
	        -ms-flex-align: center;
	            align-items: center;
	}
	body.phone .welcome-nav--overlay {
		width: 100%;
	}
	body.phone .welcome-nav .welcome--item {
		margin-bottom: 30px;
	}
/*non-critical*/
	body.phone .info-kachel--row.flex {
		display: block;
	}
	body.phone .familienbetrieb-container,
	body.phone .projekte-bottom {
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: reverse;
	        -ms-flex-direction: column-reverse;
	            flex-direction: column-reverse;
	}
	body.mobile.phone .welcome {
	    -webkit-box-align: center;
	        -ms-flex-align: center;
	            align-items: center;
	}
	body.phone .flex-item.welcome--item {
	    margin: 30px 0px;
	}
	body.phone .welcome--item__text,
	body.phone .welcome-nav,
	body.phone .info-kachel--wrapper {
	    padding: 0px 20px;
	}
	body.phone .familienbetrieb-container--text {
		padding: 20px;
	}
	body.phone .custom.familienbetrieb-start {
	    margin: 80px 0px;
	}
	body.phone .familienbetrieb-container--text {
	    text-align: center;
	}
	body.phone .familienbetrieb-container--logo:after {
	    width: 60%;
	    left: calc((100% - 60%) / 2 );
	}
	body.phone .info-kachel--item {
	    width: initial;
	    margin: 30px auto;
	    text-align: center;
	}
	body#body.phone .flex.welcome-nav--overlay>div {
	    width: 100%;
	}
	body#body.phone .flex.welcome-nav--overlay {
	    -webkit-box-align: center;
	        -ms-flex-align: center;
	            align-items: center;
	}
	body.phone .kat-nav--row.flex {
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	        -ms-flex-direction: column;
	            flex-direction: column;
	}
	body#body.phone .kat-nav--item {
	    margin: 30px auto;
	}	
	body.phone .kat-nav h2 {
	    text-align: center;
	    padding: 0px 20px;
	}
	body.phone .kat-nav--row {
	    margin-bottom: initial;
	}
	body.phone .article-Body>h2,
	body.phone .kat-nav>h2,
	body.phone .article-Body .innerwidth>h2 {
	    font-size: 18px;
	}
	body.phone .article-Body>h2,
	body.phone .item-page--team {
	    padding-left: 20px;
	    padding-right: 20px;
	}
	body.phone .item-page--top.flex {
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: reverse;
	        -ms-flex-direction: column-reverse;
	            flex-direction: column-reverse;
	}	
	body.phone .galery--item--row.flex {
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	        -ms-flex-direction: column;
	            flex-direction: column;
	}
	body.phone .galery--item {
	    margin: 10px auto 50px;
	}
	body.phone .galery--item__img img {
	    object-fit: cover;
	    width: 100%;
	    height: 100%;
	}
	body.phone .galery--item__img {
	    margin-bottom: 15px;
	}
	body#body.phone body.mobile .header--content__bckgr:after {
	    background: rgba(255,255,255,0.6);
	}
	body.phone.ueber-uns .item-page--img img {
	    object-position: 0% 10%;
	}
	body.phone.ueber-uns .item-page--img {
	    height: 230px;
	}	
	body.phone .item-page--team-row {
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	        -ms-flex-direction: column;
	            flex-direction: column;
	}
	body.phone .team--item>div {
	    margin-bottom: 50px;
	}
	body.phone .team--item .team-item--img {
	    width: 45%;
	}
		body.phone .team--item .team-item--text {
	    width: 55%;
	}
	body.phone #content .team-item--text p {
	    font-size: 12px;
	}
	body.phone .team-item--text h2 {
	    font-size: 16px;
	    margin-top: 0px;
	}
	body.phone .flex.soziales-bottom {
		padding: 20px;
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: reverse;
	        -ms-flex-direction: column-reverse;
	            flex-direction: column-reverse;
	}
	body.phone .gallery--row.flex {
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	        -ms-flex-direction: column;
	            flex-direction: column;
	}
	body.phone .gallery--item {
	    margin-bottom: 60px;
	}
	body.phone .gallery--slider,
	body.phone .gallery--slides div {
	    width: 330px;
	}
	body.phone .gallery--slides img {
	    height: auto;
	    width: 100%;
	}
	body.phone .gallery--slider a.thumb-img img {
	    width: calc(100% / 4 - 3.2px);
	}	
	body#body.phone span.gallery--close {
	    right: 10%;
	    top: 20%;
	}
	body.phone .gallery--caption p {
	    padding: 2px 0px;
	    font-size: 12px;
	}
	body#body:not(.phone) .kontakt-info--top {
		    width: 490px;
	}
	body.phone .flex.historie-bottom {
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: reverse;
	        -ms-flex-direction: column-reverse;
	            flex-direction: column-reverse;
	    padding: 0px 20px;
	}
	body.phone .historie-bottom--text div h2 {
		margin-top: 20px;

	}
	body#body.phone .ap-btn {
	    width: 150px;
	    padding: 13px 20px;
	    margin: 30px auto;
	}	



}

@media(width: 1024px) {
	
}
@media(max-width: 1280px) {
	body.desktop .innerwidth {
		padding-left: 30px;
		padding-right: 30px;
	}
}
@media(max-width: 1366px) and (orientation: portrait) {

	body.mobile .flex.space-between.welcome-nav {
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	        -ms-flex-direction: column;
	            flex-direction: column;
	    -webkit-box-align: center;
	        -ms-flex-align: center;
	            align-items: center;
	}
	body.tablet .welcome-nav--overlay {
		width: 100%;
	}
	body.mobile .welcome-nav .welcome--item {
		margin-bottom: 30px;
	}
	body.tablet .info-kachel--item {
	    max-width: 200px;
	}
	body.tablet .item-page--img img {
	    object-fit: cover;
	    width: 100%;
	    height: 100%;
	}
	body#body.tablet span.gallery--close {
	    top: 10%;
	}		
}
@media(max-width: 1366px ) and (orientation: portrait ) {
	body.historie.mobile.tablet .team--item {
	    width: 49%;
	}
	body.team.tablet #content .team-item--text p {
	    font-size: 12px;
	}
	body.team.tablet .team-item--text div {
	    padding: 0px 10px;
	}
}
@media(max-width: 1366px) and (orientation: landscape) {
	body#body.tablet .container-header.center {
		max-width: 60%;
	}
}
@media(max-width: 1366px) {
	/*critical*/
	body.mobile.is_home .logo--small {
	    visibility: hidden;
	}	
	body.mobile .nav-collapse .dropdown-menu a {
		font-weight: normal;
	}
	body#body.mobile .bottom-bckgr-parallax {
		background-attachment: initial;
	}
	body#body.mobile .navbar.openMenu {
	    z-index: 4;
	}		
	body#body.mobile .navbar {
	    z-index: 1;
	}
	body.mobile.start.is_home .navbar .btn-navbar .icon-bar {
	    background-color: #fff;
	}		
	body.mobile .navbar .btn-navbar .icon-bar {
	    background-color: #683e26;
	}
	body.mobile .header--content__bckgr {
	    width: 100%;
	}
	body.mobile .header--content__bckgr:after {
	    background: rgba(255,255,255,0.3);
	}
	body.mobile .header--content__bckgr {
		clip-path: initial;
	}
	body.mobile .header--content__bckgr {
	    background-image: radial-gradient(#909090 20%, transparent 50%);
	}
	/*body.mobile .header--content__container:after {
	    background: rgba(255,255,255,0.3);
		content: '';
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;	    
	}

	body.mobile .header--content__container {
		width: 100%;
		background-image: radial-gradient(#515151 20%, transparent 50%);
    	background-size: 6px 6px;		
	}*/
	body.mobile .header--content__bckgr,
	body.mobile .header--content__container {
		left: initial;
	}	
	body#body.mobile .nav-collapse .dropdown-menu {
		margin-right: 0px;
		margin-left: 0px;
	}
	body.mobile .item-page.start h2 {
	    font-size: 21px;
	}
	body.mobile.start .content {
	    height: 80%;
	}	
	body.mobile .logo-container--text h3 {
	    font-size: 12px;
	}
	body.mobile .logo-container--text h2 {
	    font-size: 16px;
	    margin: 5px 0px 5px 0px;
	}
	body.mobile .logo-container--text {
	    padding-left: 10px;
	}	
	body#body.mobile nav.navbar-wrapper>div {
	    -ms-flex-preferred-size: 50%;
	    flex-basis: 50%;
	}
	body.mobile .container-header.center {
		max-width: 80%;
		box-shadow: 0px 0px 10px -5px #565656;
	}
	body.mobile ul.nav-child.dropdown-menu {
	    display: block;
	}
	body.mobile .navbar .nav > li {
	    display: block;
	}
	body#body.mobile .nav-collapse,
	body#body.mobile .nav-collapse.collapse {
	    height: 0!important;
	    overflow: hidden!important;
	    padding: 0 0 80px 20px;
	}
	body.mobile .nav-collapse.collapse {
	    position: absolute;
	    right: -30px;
	    top: 0;
	    width: 100%;
	}
	body.mobile .nav-collapse {
	    clear: both;
	}
	body.mobile .nav-collapse ul.nav.menu.nav-pills {
	    background: #fff;
	    width: 100%;
	    top: 60px;
	    border-radius: 0 0 0 10px;
	    padding: 30px 0 10vh;
	    -webkit-transform: translateX(100%);
	    -ms-transform: translateX(100%);
	    transform: translateX(100%);
	    -webkit-transition: all 0.3s;
	    -o-transition: all 0.3s;
	    transition: all 0.3s;
	}
	body#body.mobile .nav-collapse.collapse,
	body#body.mobile .nav-collapse {
	    height: auto!important;
	}
	body.mobile .nav-collapse.openMenu ul.nav.menu.nav-pills {
	    -webkit-box-shadow: 0 14px 30px -11px #4a4a4a;
	    box-shadow: 0 14px 30px -11px #4a4a4a;		
	    -webkit-transform: translateX(0);
	    -ms-transform: translateX(0);
	    transform: translateX(0);
	    -webkit-transition: all .5s ease-in-out;
	    -o-transition: all .5s ease-in-out;
	    transition: all .5s ease-in-out;
	}
	body.mobile .navbar .nav>li {
	    display: block;
	    float: none;
	}
	body.mobile .navbar .btn-navbar {
	    display: block;
	    position: relative;
	    z-index: 1;
	}
	body.mobile .navbar {
	    margin: 0 30px 0 auto;
	}
	body.tablet .navbar-wrapper {
	    -ms-flex-preferred-size: 75%;
	    flex-basis: 75%;
	}
	body.mobile ul.nav-child.dropdown-menu {
	    display: block;
	}
	body#body.mobile ul.nav-child.dropdown-menu li a {
	    color: #303030;
	}
	body#body.mobile ul.nav-child.dropdown-menu li.active a {
	    color: #fff;
	}	
	body#body.mobile ul.nav-child.dropdown-menu {
	    background: transparent;
	    position: initial;
	    float: none;
	    box-shadow: none;
	    border: none;
	}
	body#body.mobile .dropdown-menu:before,
	body#body.mobile .navbar .nav>li>.dropdown-menu:after {
		content: initial;
		display: none !important;
	}
/*	body#body.mobile .navbar .nav li.dropdown>.dropdown-toggle .caret {
		display: none;
	}*/
	body#body.mobile ul.nav-child.dropdown-menu li a {
	    padding: 10px 30px;
	}

/*	body.mobile.site .flex.welcome--item__text {
	    text-align: center;
	}	*/
	body.site.tablet .welcome .flex-item.welcome--item .flex {
	    height: 195px;
	}
/*	body.mobile .flex.flex-item.welcome--item {
	    -webkit-box-ordinal-group: 2;
	        -ms-flex-order: 1;
	            order: 1;
	}*/	
	body.mobile .welcome {
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	        -ms-flex-direction: column;
	            flex-direction: column;
	}
	body.mobile h2.overlay-header-sec {
	    font-size: 18px;
	    line-height: 22px;
	    letter-spacing: initial;
	}
	body.mobile h2.overlay-header-prim {
	    font-size: 21px;
	}
	body.mobile div.nav-btn {
	    width: 70px;
	    padding: 7px;
	    margin: 30px auto 10px;
	    font-size: 12px;
	}
	body.tablet .welcome-nav {
	    padding: 0px 10px;
	}
	body.site.tablet .info-kachel--row {
		-ms-flex-pack: distribute;
		    justify-content: space-around;
	}
	body.deskTab .familienbetrieb-container {
	    transform: scale(0.9);
	}
	body.mobile .projekte-bottom {
	    padding: 0px 20px;
	}
	body.mobile .projekte-bottom--wrapper h2 {
	    font-size: 21px;
	}
	body.mobile .item-page--bottom,
	body.mobile .breadcrumbs {
	    padding: 0px 20px;
	}
	body#body.mobile .item-page--top {
	    padding: 50px 20px;
	}
	body.tablet .kat-nav {
	    padding: 30px 10px;
	}	
	body.tablet.site .kat-nav--row {
		-ms-flex-pack: distribute;
		    justify-content: space-around;
	}
	body.tablet .kat-nav--item,
	body.tablet.site .galery--item--row div {
	    -ms-flex-preferred-size: 31%;
	        flex-basis: 31%;
	}
	body.mobile .gallery--preview img {
	    -webkit-filter: brightness(0.6);
	            filter: brightness(0.6);
	}
	body#body.mobile .gallery--item {
	    width: initial;
	    height: initial;
	}
	body.mobile.tablet .gallery--item {
	    -ms-flex-preferred-size: 32%;
	        flex-basis: 32%;
	}
	body.mobile .item-page.projekte {
	    padding: 0px 20px;
	}
	body.mobile h3.gallery--preview--header {
		font-size: 16px;
	}
	body.mobile .innerwidth.kd-stimme {
	    padding: 60px 20px;
	}
	body.tablet span.gallery--close {
	    right: 10%;
	    top: 5%;
	}
	body.mobile .gallery-container {
	    position: relative;
	    z-index: 5;
	}		
	body.mobile #wrapper.blackened .gallery-container {
	    z-index: 0;
	}
	body.mobile .article-Body>h2,
	body.mobile .article-Body .innerwidth>h2,
	body.mobile .item-page--team,
	body.tablet .flex.historie-bottom,
	body.mobile div.team-very-bottom,
	body.mobile.kontakt .item-page.kontakt,
	body.mobile.kontakt form,
	body.mobile .item-page.impressum,
	body.mobile .item-page.datenschutz {
	    padding-left: 20px;
	    padding-right: 20px;
	}
	body#body.mobile.impressum .article-Body>h2 {
		padding-left: 0px;
	}	
	

}
@media(max-width: 1550px) {
	body#body.desktop .logo-container--text h3 {
	    font-size: 10px;
	}
	body#body.desktop .logo-container--text h2 {
	    font-size: 14px;
	}
	body#body.site.desktop .navbar .nav>li>a {
	    font-size: 10px;
	}
	body#body.desktop .logo--small {
	    margin-left: 10px;
	}
	body#body.desktop .logo--small img {
	    width: 70px;
	}
	body#body.desktop .navbar-wrapper--container {
	    background: #fff;
	}	
}
@media(max-width: 1880px) {
	body#body.desktop:not(.phone) nav.navbar-wrapper>div,
	body#body.desktop:not(.phone) nav.navbar-wrapper .navbar {
	    -ms-flex-preferred-size: initial;
	    flex-basis: initial;
	}	
}
@media(max-width: 1920px) {
	header#header img {
		width: 100%;
	    height: 100%;
	    object-fit: cover;
	}
}
@media(min-width: 1921px) {
	/*critical*/
	body#body.desktop .header--content__bckgr {
	    width: 100%;
	}
	body#body.desktop .header--content__color {
	    width: 100%;
	}
	body#body.desktop .header--content h2 {
	    font-size: 18px;
	    text-align: left;
	}	
	header#header {
	    max-height: 535px;
	    overflow: hidden;
	}	
	.header--img--container img {
	    -o-object-fit: cover;
	       object-fit: cover;
	    width: 100%;
	    height: 100%;
	}	
}

/*specials*/
@media(max-width: 1023px) {
	body#body.desktop div#wrapper {
		-webkit-filter: blur(10px);
		        filter: blur(10px);
	}
	body.desktop #resizeAlarm {
		display: block;
	}	
}
@media(min-width: 1024px) {
	body.desktop #resizeAlarm {
		display: none !important;
	}
}