 /*
 * Overrides CSS
 */
@font-face {
    font-family: 'montserrat';
    src: url('/templates/089-standard/fonts/montserrat-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'montserrat';
    src: url('/templates/089-standard/fonts/montserrat-semibold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'petit';
    src: url('/templates/089-standard/fonts/petitformalscript-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

/*Resp overrides*/


@media (min-width: 1280px) {
  
  .fullwidth {
      width: 100%;
  }

  .innerwidth {
      width: 1000px;
      margin: 0px auto;
  }
/*  body.start .innerwidth {
  	width: 1000px;
  	margin: 0px auto;
  }*/
}
@media(min-width: 1680px) {
	.xtr-innerwidth {
		width: 1675px;
		margin: 0px auto;
	}
}

/* critical CSS */

img[alt=""],
img:not([alt]) {
      border: 5px dashed #c00;

}
:root {
  --first-color: #683e26; 
  --second-color: #20b2aa;
}
.first-color {
	color: var(--first-color);
}
.second-color {
	color: var(--second-color);
}
a {
    transition: all .3s ease-in-out;
}
h1, h2, h3, h4 {
    font-weight: normal;
}
p {
	line-height: 25.6px;
}
button.btn-navbar:active {
outline: none;
border: none;
}
button.btn-navbar:focus, a:focus {outline:0;}

.flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.space-between {
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
body {
    font-family: 'montserrat';
    color: #303030;
    animation:fadein .5s ease-in-out ;
      -webkit-animation:fadein .5s ease-in-out; 
}
    @-webkit-keyframes fadein 
    { from {opacity:0} to {opacity:1} }
    @keyframes fadein 
    { from {opacity:0} to {opacity:1} }

.clr {
    clear: both;
}
.uppercase {
	text-transform: uppercase;
}
.center {
	text-align: center;
}
.bckgr-color {
	background: #f3f3f3;
}
.grey-color {
    color: #8a8a8a;
}
.null1-15 {
    letter-spacing: 0.1em;
    line-height: 1.5em;
}
.null15-16 {
    letter-spacing: 0.15em;
    line-height: 1.6em;
}
.null2-16 {
    letter-spacing: 0.2em;
    line-height: 1.6em;
}
.eins6-24 {
	letter-spacing: 1.6px;
	line-height: 24px;
}
.zwei8-33 {
	letter-spacing: 2.8px;
	line-height: 33px;
}

/*header*/
#header {
    min-height: 100px;
    overflow: hidden;
}
.logo-container--text h2 {
    font-size: 19px;
    margin: 10px 0px 5px 0px;
}
.logo-container--text h3 {
    font-size: 16px;
    margin: 5px 0px 5px 0px;    
}
.container-header--text h2 {
    font-size: 30px;
    margin: 10px 0 30px;
}
.container-header.center {
    width: 850px;
    margin: 0px auto;
    padding: 0px 0px 20px;
    background: rgba(255,255,255,0.9);
    border-radius: 3px;
    position: relative;
}
.logo--small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

/*<--- END header*/

/*content*/

body.start .welcome--item__text h2 {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 20px;
}
body.start p {
	font-size: 16px;
}
body.start .above-the-fold {
    background: url('/images/georg-gerum-schreinerei-startseite-bckp') top left no-repeat;
    background-size: cover;
    background-position: 0% 65%;
}
body.start .above-the-fold {
    height: 100vh;
}
body.deskTab .flex-item.welcome--item {
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
}
body.deskTab .flex-item.welcome--item .flex {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
body.deskTab .welcome .flex-item.welcome--item .flex {
    height: 275px;
}
body.deskTab .flex.welcome--item__text {
    padding: 0px 30px;
}
body.deskTab .innerwidth.content p,
body.deskTab .innerwidth-in-item.content p {
	font-size: 16px;
	line-height: 1.6em;
}
.welcome-nav {
    margin: 30px 0px;
}
.welcome-nav .welcome--item,
.projekte-bottom--img {
	position: relative;
	overflow: hidden;
}
body.desktop .welcome-nav .welcome--item img,
body.desktop .projekte-bottom--img img {
	transform: scale(1);
	transition: transform 1.2s ease-in-out;
}
body.desktop .welcome-nav .welcome--item:hover img,
body.desktop .projekte-bottom--img:hover img {
	transform: scale(1.3);
	transition: transform 5s ease-in-out;
}
.welcome-nav--overlay {
    height: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    color: #fff;
}
h2.overlay-header-prim {
	font-size: 28px;
}
h2.overlay-header-sec {
	font-size: 23px;
}
.flex.welcome-nav--overlay>div {
    width: 80%;
}
div.nav-btn {
    width: 80px;
    padding: 10px;
    margin: 10px auto;
    color: #303030;
    background: rgba(255,255,255,0.9);
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
}
div.nav-btn:hover {
	background: rgba(250, 87, 20, 0.69);
	color: #fff;
}


/*header colors*/
/*Chris OrigCode
	body.zimmerei .header--content__color {
		background: rgba(118, 0, 0, 0.56);
	}
*/
/*Mic Overrides*/
body.zimmerei .header--content__color {
    background: rgba(118, 0, 0, 0.76);
}
/*Chris OrigCode
	body.schreinerei .header--content__color {
		background: rgba(74, 102, 211, 0.68);
	}	
*/
/*Mic Overrides*/
body.schreinerei .header--content__color {
    background: rgba(74, 102, 211, 0.88);
}

	body.cnc .header--content__color {
		background: rgba(0, 90, 219, 0.67);
	}
/*Chris OrigCode
	body.unternehmen .header--content__color,
	body.projekte .header--content__color,
	body.kundenstimmen .header--content__color,
	body.kontakt .header--content__color {
		background: rgba(115, 65, 29, 0.67);
	}	
*/
/*Mic Overrides*/
body.unternehmen .header--content__color, 
body.projekte .header--content__color, 
body.kundenstimmen .header--content__color, 
body.kontakt .header--content__color {
    background: rgba(115, 65, 29, 0.77);
}


/*<--- END header colors*/

.header--content__color {
    padding: 18px 50px;
    border-radius: 3px;
}
h1.header--content__heading {
	position: relative;
	padding-bottom: 20px;
}
h1.header--content__heading:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    bottom: 0px;
    background: rgba(255,255,255, 0.3);
    left: 0;
    z-index: 4;
}
.header--img--container {
    position: relative;
    z-index: 0;
    height: 519px;
}
.header--content {
    color: #fff;
    opacity: 0;
    transition: opacity .8s ease-in .3s;
}
body.ready .header--content {
	opacity: 1;
}
.header--content h1 {
	font-size: 24px;
}
.header--content h2 {
	font-size: 14px;
	text-align: right;
}
.header--content__bckgr,
.header--content__container {
    position: absolute;
    top: 0;
    left: 50%;
}
.header--content__bckgr {
	width: 952px;
	height: 519px;
}
/*in % */

/*Chris Orig Code
.header--content__bckgr {
    clip-path: polygon(100% 100%, 100% 0%, 0% 0%, 0% 35%, 38% 35%, 38% 65%, 0% 65%, 0% 100%);
	background-image: radial-gradient(#d1d1d1 20%, transparent 50%);
	background-size: 6px 6px;
}
*/

/*Mic overrides*/
.header--content__bckgr {
    clip-path: polygon(100% 100%, 100% 0%, 0% 0%, 0% 35%, 37.5% 35%, 37.5% 65%, 0% 65%, 0% 100%);
    background-image: radial-gradient(#515151 20%, transparent 50%);
    background-size: 6px 6px;
}

.header--content__color {
	position: relative;
	z-index: 1;
}
.header--content__bckgr:after,
.header--content__color:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.header--content__bckgr:after {
    background: rgba(255,255,255,0.7);
}
.header--content__color:after {
	background: rgba(255,255,255,0);	
}
body.desktop.holzhaeuser .header--content__bckgr {
    clip-path: polygon(100% 100%, 100% 0%, 0% 0%, 0% 35%, 45.6% 35%, 45.6% 65%, 0% 65%, 0% 100%);
}
body.desktop.dachstuehle .header--content__bckgr {
    clip-path: polygon(100% 100%, 100% 0%, 0% 0%, 0% 35%, 33.6% 35%, 33.6% 65%, 0% 65%, 0% 100%);
}
body.desktop.dachfenster-gauben .header--content__bckgr {
    clip-path: polygon(100% 100%, 100% 0%, 0% 0%, 0% 31.5%, 47% 31.5%, 47% 68.3%, 0% 68.3%, 0% 100%);
}
body.desktop.fassadenbau .header--content__bckgr {
    clip-path: polygon(100% 100%, 100% 0%, 0% 0%, 0% 35%, 50% 35%, 50% 65%, 0% 65%, 0% 100%);
}
body.desktop.carport .header--content__bckgr {
    clip-path: polygon(100% 100%, 100% 0%, 0% 0%, 0% 35%, 53% 35%, 53% 65%, 0% 65%, 0% 100%);
}
body.desktop.planung .header--content__bckgr {
    clip-path: polygon(100% 100%, 100% 0%, 0% 0%, 0% 35%, 46% 35%, 46% 65%, 0% 65%, 0% 100%);
}
body.desktop.treppenbau .header--content__bckgr {
    clip-path: polygon(100% 100%, 100% 0%, 0% 0%, 0% 35%, 48.8% 35%, 48.8% 65%, 0% 65%, 0% 100%);
}
body.desktop.treppenbelaege .header--content__bckgr {
    clip-path: polygon(100% 100%, 100% 0%, 0% 0%, 0% 35%, 36% 35%, 36% 65%, 0% 65%, 0% 100%);
}
body.desktop.fenstermontage .header--content__bckgr {
    clip-path: polygon(100% 100%, 100% 0%, 0% 0%, 0% 35%, 43% 35%, 43% 65%, 0% 65%, 0% 100%);
}
body.desktop.cnc .header--content__bckgr {
    clip-path: polygon(100% 100%, 100% 0%, 0% 0%, 0% 35%, 43% 35%, 43% 65%, 0% 65%, 0% 100%);
}
body.desktop.ueber-uns .header--content__bckgr {
    clip-path: polygon(100% 100%, 100% 0%, 0% 0%, 0% 35%, 49% 35%, 49% 65%, 0% 65%, 0% 100%);
}
body.desktop.team .header--content__bckgr {
    clip-path: polygon(100% 100%, 100% 0%, 0% 0%, 0% 35%, 57% 35%, 57% 65%, 0% 65%, 0% 100%);
}
body.desktop.historie .header--content__bckgr {
    clip-path: polygon(100% 100%, 100% 0%, 0% 0%, 0% 35%, 52% 35%, 52% 65%, 0% 65%, 0% 100%);
}
body.desktop.soziales .header--content__bckgr {
    clip-path: polygon(100% 100%, 100% 0%, 0% 0%, 0% 35%, 47% 35%, 47% 65%, 0% 65%, 0% 100%);
}
body.desktop.projekte .header--content__bckgr {
    clip-path: polygon(100% 100%, 100% 0%, 0% 0%, 0% 35%, 53.5% 35%, 53.5% 65%, 0% 65%, 0% 100%);
}
body.desktop.kundenstimmen .header--content__bckgr {
    clip-path: polygon(100% 100%, 100% 0%, 0% 0%, 0% 35%, 55% 35%, 55% 65%, 0% 65%, 0% 100%);
}
body.desktop.kontakt .header--content__bckgr {
    clip-path: polygon(100% 100%, 100% 0%, 0% 0%, 0% 35%, 52% 35%, 52% 65%, 0% 65%, 0% 100%);
}
/* in px
.header--content__bckgr {
    clip-path: polygon(100% 100%, 100% 0%, 0% 0%, 0% 180px, 360px 180px, 360px 340px, 0% 340px, 0% 100%);
	background-image: radial-gradient(#d1d1d1 50%, transparent 50%);
	background-size: 4px 4px;    
}*/
.header--content__container {
	width: 50%;
    height: 100%;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
body.start .content {
    height: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}   
.item-page.start h1 {
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    color: #8a8a8a;
    margin: 20px 0px 10px;
}
.item-page.start h2 {
    text-transform: uppercase;
    color: var(--first-color);
    font-size: 30px;
}
body.site .page-header {
    border-bottom: none;
}
body.desktop .logo--small {
    margin-left: 50px;
}
.logo--small,
nav.navbar-wrapper .vcard {
    padding: 20px 0px 20px 20px;
}
ol.breadcrumb a {
    color: var(--first-color);
}
ol.breadcrumb {
    background: transparent;
    padding-left: 0px;
    font-size: 11px;
}
body.mobile #content .blog {
    padding: 0px 20px;
}
body.site .blog .item {
    margin-bottom: 50px;
}
body.site .blog h2 {
    font-size: 21px;
}
body.site .blog h1 {
    font-size: 28px;
}
body.site .blog p {
    font-size: 14px;
}
body.site .blog .pull-left.item-image {
    max-width: 340px;
    margin-right: 30px;
}
body.site .blog span.icon-chevron-right {
    display: none;
}

/*<--- END content*/

 /*Menue!*/
 body.desktop .item-199 a.dropdown-toggle:hover,
 body.unternehmen .breadcrumb li:nth-child(3) .pathway:hover {
 	cursor: text;
 }
.navbar .nav>li>a {
    color: inherit;
}
body.desktop .navbar-wrapper--container {
	height: 113px;
}
body.site .navbar .nav li.dropdown>.dropdown-toggle .caret {
    border-top-color: var(--first-color);
    border-bottom-color: var(--first-color);    
}
body.site .navbar .nav li.dropdown.active>.dropdown-toggle .caret {
    border-top-color: var(--second-color);
    border-bottom-color: var(--second-color);
}
body.desktop.start nav.navbar-wrapper {
    position: fixed;
    opacity: 1;
    animation: fadein 1s ease forwards;
    transition: all 0.5s ease;
    z-index: 1;
}
body.desktop.not_home nav.navbar-wrapper:not(.sticky) {
	position: relative;
	opacity: 1;
	transition: opacity 1s;
}
body.desktop.not_home nav.navbar-wrapper.sticky {
	position: fixed;
	top: 0;
    -webkit-animation: menuDrop 1.2s ease-in-out forwards;
            animation: menuDrop 1.2s ease-in-out forwards;
	z-index: 1;
}
    @-webkit-keyframes menuDrop {
          0% { -webkit-transform: translateY(-100px); transform: translateY(-100px); opacity: 1; }
        100% { -webkit-transform: translateY( 0px); transform: translateY( 0px); opacity: 1; }
    }
    @keyframes menuDrop {
          0% { -webkit-transform: translateY(-100px); transform: translateY(-100px); opacity: 1; }
        100% { -webkit-transform: translateY( 0px); transform: translateY( 0px); opacity: 1; }
    }
body.desktop nav.navbar-wrapper:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255, 1);
    z-index: -1;
    transition: background 0.8s ease, transform .5s ease-in-out 0.8s;
}
body.desktop nav.navbar-wrapper.sticky:after {
    background: rgba(255,255,255, 0.9);
    transform: translateX(0%);
    transition: background 0.5s ease .3s, transform 0.6s ease-in-out 0.6s;
}
body.desktop nav.navbar-wrapper.sticky {
    -webkit-box-shadow: 0px 2px 40px -20px #4a4a4a;
            box-shadow: 0px 2px 40px -20px #4a4a4a;
    height: 90px;
    opacity: 1;
/*    -webkit-animation: menuDropStart 1.5s ease-in-out 0.5s forwards;
            animation: menuDropStart 1.5s ease-in-out 0.5s forwards;*/
}
body.desktop nav.navbar-wrapper .logo--small,
body.desktop nav.navbar-wrapper .navbar {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: -webkit-transform .5s ease-in-out;
    transition: -webkit-transform .5s ease-in-out;
    -o-transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}
body.desktop nav.navbar-wrapper.sticky .logo--small,
body.desktop nav.navbar-wrapper.sticky .navbar {
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9);
}
/*    @-webkit-keyframes menuDropStart {
    	  0% { -webkit-transform: translateY(0px); transform: translateY(0px); opacity: 1; }
         50% { -webkit-transform: translateY(-100px); transform: translateY(-100px); opacity: 0; }
        100% { -webkit-transform: translateY( 0px); transform: translateY( 0px); opacity: 1; }
    }
    @keyframes menuDropStart {
    	  0% { -webkit-transform: translateY(0px); transform: translateY(0px); opacity: 1; }
         50% { -webkit-transform: translateY(-100px); transform: translateY(-100px); opacity: 0; }
        100% { -webkit-transform: translateY( 0px); transform: translateY( 0px); opacity: 1; }
    }*/


body:not(.phone) nav.navbar-wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
body:not(.phone) nav.navbar-wrapper>div {
    -ms-flex-preferred-size: 29%;
        flex-basis: 29%;
}
body:not(.phone) nav.navbar-wrapper .navbar {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
}
body#body.start .navbar .nav>li:not(.active)>a {
    color: #303030;
}
body#body .navbar .nav>li>a {
    text-shadow: none;
    font-size: 14px;
}
body#body .dropdown-menu {
    border: none;
    box-shadow: -2px 11px 30px -10px #9a9a9a;
}
body#body .dropdown-menu>li>a {
    padding: 10px 20px;
}
body#body .navbar .nav>.active>a,
body#body .navbar .nav>.active>a:hover,
body#body .navbar .nav>.active>a:focus {
    color: var(--first-color);
    text-decoration: none;
    background-color: transparent;
    -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
    -moz-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
    box-shadow: none;
    border-radius: 0px;
    border-bottom: dashed 1px #b1b1b1;
}
body#body .navbar .nav {
    float: none ;
}
.navbar .nav > li {
  display: inline-block;
}
nav.navbar-wrapper.innerwidth {
    margin: 0 auto;
}
.navbar {
    margin: 0 0 5px;
    padding: 0;
    position: relative;
    z-index: 999;
}
body.site .dropdown-menu {
    padding: 0px;
}
body.mobile button.btn.btn-navbar span.icon-bar:nth-of-type(2) {
    opacity: 1;
}
body.mobile button.btn.btn-navbar span.icon-bar:nth-of-type(3),
body.mobile button.btn.btn-navbar span.icon-bar:nth-of-type(1) {
    -webkit-transform: translateY(0px) translateX(0) rotate(0deg);
    -ms-transform: translateY(0px) translateX(0) rotate(0deg);
    transform: translateY(0px) translateX(0) rotate(0deg);
} 
body.mobile button.btn.btn-navbar.btn-modify span.icon-bar:nth-of-type(2) {
    opacity: 0;
    -webkit-transition: -webkit-transform .5s ease-in-out;
    transition: -webkit-transform .5s ease-in-out;
    -o-transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}
body.mobile button.btn.btn-navbar.btn-modify span.icon-bar:nth-of-type(1) {
    -webkit-transform: translateY(8px) translateX(0) rotate(35deg);
    -ms-transform: translateY(8px) translateX(0) rotate(35deg);
    transform: translateY(8px) translateX(0) rotate(35deg);
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
body.mobile button.btn.btn-navbar.btn-modify span.icon-bar:nth-of-type(3) {
    -webkit-transform: translateY(-8px) translateX(0) rotate(-35deg);
    -ms-transform: translateY(-8px) translateX(0) rotate(-35deg);
    transform: translateY(-8px) translateX(0) rotate(-35deg);
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
} 
body#body .btn-navbar .icon-bar+.icon-bar {
    margin-top: 4px;
}
body#body .navbar .btn-navbar .icon-bar {
    width: 40px;
    height: 4px;
    box-shadow: none;
}
body#body button.btn.btn-navbar {
    text-shadow: none;
    background-image: none;
    background: transparent;
    border: none;
    box-shadow: none;
}
  /*hover / current active states*/
body#body .dropdown-menu>li>a:hover,
body#body .dropdown-menu>li>a:focus,
body#body .dropdown-submenu:hover>a,
body#body .dropdown-submenu:focus>a {
    color: #fff;
    text-decoration: none;
    background-color: rgba(140, 140, 140, 0.69);
    background-image: none;
    filter: none;
}
body#body .dropdown-menu>.active>a,
body#body .dropdown-menu>.active>a:hover,
body#body .dropdown-menu>.active>a:focus {
    color: #fff;
    text-decoration: none;
    background-color: rgba(140, 140, 140, 0.69);
    background-image: none;
    filter: none;
}
body#body .navbar .nav>li>.dropdown-menu:after { /*submenue triangle in hoverfarbe*/
    border-bottom: 6px solid #e8e8e8;
}
    /*<--END hover / current active states*/


 /* Activates hovering the main items to show the sub items */
@media (min-width: 980px) {
   .nav-pills > li > a,
   .dropdown-menu {
      margin: 0;
   }
 
   .nav-pills > li.dropdown:hover ul.dropdown-menu,
   .nav-tabs > li.dropdown:hover ul.dropdown-menu {
      display: block;
   }
 
   .nav-pills > li.dropdown ul.dropdown-menu .dropdown-submenu .dropdown-menu,
   .nav-tabs > li.dropdown ul.dropdown-menu .dropdown-submenu .dropdown-menu {
      display: none;
   }
 
   .nav-pills > li.dropdown ul.dropdown-menu .dropdown-submenu:hover .dropdown-menu,
   .nav-tabs > li.dropdown ul.dropdown-menu .dropdown-submenu:hover .dropdown-menu {
      display: block;
   }
}

/* Submenus below each other */
@media (max-width: 733px) {
   .dropdown,
   .dropdown-submenu {
      display: block;
      position: static;
      float: none;
   }
   .dropdown-menu {
      position: static;
      float: none;
   }
   .open .nav-child.dropdown-menu {
      display: block;
      background-color: transparent;
      border: none;
      border-radius: 0;
      box-shadow:none;
   }
}


/* non-critical CSS */
.top {
    margin: 0px 0px 30px;
}
.module_bottom {
    margin: 30px 0px;
}
.innerwidth.content-bottom--wrapper {
    padding: 20px 0px;
}
.content-bottom.flex {
    background: rgba(255,255,255,0.5);
    padding: 0px 20px;
    border-radius: 3px;
}
body.desktop .content-bottom.flex>div {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
}
body.desktop .info-kachel--wrapper {
    margin: 80px auto;
}
body.mobile .info-kachel--wrapper {
    margin: 50px auto;
}
.info-kachel--wrapper h2 {
	text-align: center;
	margin-bottom: 80px;
}
body.desktop .info-kachel--wrapper h2 {
    font-size: 28px;
}
body.mobile .info-kachel--wrapper h2 {
    font-size: 24px;
}
.info-kachel--text h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #00a3e6;
}
.info-kachel--item {
    width: 300px;
}
.info-kachel--item p {
	line-height: 24px;
}
body.deskTab .info-kachel--row {
	margin-bottom: 50px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
body:not(.phone) .custom.familienbetrieb-start {
    background: url(/images/georg-gerum-familienbetrieb-bkgr.jpg) top left no-repeat;
    background-size: cover;
}
body.deskTab .familienbetrieb-container {
    padding: 40px 0px;
}
.familienbetrieb-container--text {
    background: rgba(255, 255, 255, 0.59);
}
.familienbetrieb-container--img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 3px 0px 0px 3px;
}
body.deskTab .familienbetrieb-container--text {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    padding: 20px 20px 20px 20px;
    border-radius: 0px 3px 3px 0px;
}
.familienbetrieb-container--logo img {
    width: 60px;
    -webkit-filter: contrast(0);
            filter: contrast(0);
}
.familienbetrieb-container--logo h2 {
    font-size: 15px;
}
.familienbetrieb-container--logo {
    position: relative;
    height: 110px;
}
.familienbetrieb-container--logo:after {
    content: '';
    position: absolute;
    bottom: 0px;
    width: 100px;
    height: 1px;
    background: #000;
}
.familienbetrieb-container--text_below h2 {
    font-size: 48px;
}
.familienbetrieb-container--text p, 
.familienbetrieb-container--text a {
	font-size: 15px;
}
.familienbetrieb-container--text_below a {
    color: #303030;
    text-decoration: underline;
    padding-top: 20px;
    display: block;
}
body.deskTab .module_bottom.position_bottom2 {
	margin: 50px 0px;
}
.projekte-bottom.flex {
	margin: 80px 0px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.projekte-bottom--text {
	flex-basis: 50%;
}
.projekte-bottom--wrapper h2 {
    font-size: 26px;
}
.projekte-bottom--text h2 {
    font-size: 20px;
}
.projekte-bottom--text p {
    margin: 20px 20px 20px 0px;
}
.projekte-bottom--text a {
    color: #303030;
    text-decoration: underline;
}
body.site .bottom-bckgr-parallax {
	background-image: url(/images/gerum-zimmerei-schreinerei-parallax.jpg);
    height: 385px;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
body.site .bottom-bckgr-parallax blockquote {
	font-family: 'petit';
	color: #fff;
    padding: 0;
    margin: 0;
    border-left: none;
    max-width: 750px;
}
body.site .bottom-bckgr-parallax blockquote p {
	font-size: 20px;
	letter-spacing: 0.05em;
	line-height: 1.6em;
}
.bottom-bckgr-parallax .center.flex {
    justify-content: center;
    align-items: center;
    height: inherit;
	position: relative;
    z-index: 1;    
}
.custom.bottom-bckgr-parallax:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    top: 0;
    left: 0;
    z-index: 0;
}
.vcard p:not(.org) {
    font-size: 14px;
}
p.org {
    text-transform: uppercase;
}
.vcard a {
	color: #303030;
}
#copyright .copyWrapper p {
    font-size: 12px;
}
.article-Body>h2 {
	margin: 30px auto;
}
.article-Body .innerwidth>h2 {
	margin: 20px auto 60px;
}
.item-page.team h2.team-bottom {
	margin-bottom: 30px;
}
.article-Body>h2,
.kat-nav>h2,
.article-Body .innerwidth>h2 {
	font-size: 21px;
}
.kat-nav>h2 {
    margin: 15px 0px 50px;
}
.kat-nav {
    padding: 30px 0px;
}
.kat-nav--row {
	margin-bottom: 50px;
}
body.deskTab .kat-nav--row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

}
.kat-nav--item a {
    color: #303030;
}
.kat-nav--item a:hover {
    text-decoration: none;
}
.kat-nav--item h3 {
	font-size: 16px;
	margin-top: 20px;
}
.kat-nav--item__img {
	overflow: hidden;
	position: relative;
}
.kat-nav--item img {
	transform: scale(1);
	transition: transform 0.6s ease-in-out;
}
body.desktop .kat-nav--item a:hover img {
	transform: scale(1.2);
	transition: transform 2s ease-in-out;

}
body.desktop .kat-nav--item__img:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.0);
	transition: background 0.4s ease-in-out;
}
body.desktop .kat-nav--item a:hover .kat-nav--item__img:after {
	background: rgba(0,0,0,0.3);
	transition: background 0.6s ease-in-out
}
body.deskTab .item-page--top {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 50px 0px;
}
body.deskTab .item-page--top.flex div {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
}
.item-page--text {
    background: #fff;
}
.item-page--text div {
    padding: 0px 20px 0px;
}
.item-page.ueber-uns .item-page--text div {
    padding: 0px 20px 0px 0px;
}
.item-page--top h2 {
	font-size: 18px;
	font-weight: bold;
    margin: 30px 0px;	
}
.item-page--bottom {
    margin: 60px 0px;
}
.item-page--bottom>h2 {
	font-size: 20px;
}
.item-page--galery h3 {
    font-size: 16px;
}
.item-page--galery {
    margin: 60px 0px;
}
.galery--item--row.flex {
	margin: 30px 0px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
body.deskTab .galery--item--row div {
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
}
.galery--item__img {
    margin-bottom: 40px;
}
.galery--item__text h3 {
    margin-bottom: 15px;
    color: #000;
}
body#body.deskTab .galery--item__text p {
	font-size: 14px;
}
body.deskTab .galery--item__text p {
    padding-right: 10px;
}
.ueber-uns .item-page--top {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.ueber-uns .item-page--top h2 {
	font-weight: bold;
	margin-bottom: 30px;
}
.ueber-uns .item-page--text {
    padding-right: 10px;
}
body.deskTab .team--item {
    width: 500px;
}
body.deskTab .team--item div {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
}
body.deskTab .item-page--team:not(.historie) .team--item.flex {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.team-item--text div {
    padding: 0px 20px;
}
.team-item--text h2 {
	font-size: 18px;
}
.historie .team-item--text h2 {
	font-size: 14px;
	color: #bf3434;
	margin: 0px 0px 20px 0px;
}
.team-item--text h3 {
	font-size: 12px;
	line-height: 20px;
}
#content .team-item--text p {
	font-size: 14px;
}
body.deskTab .item-page--team-row {
    margin-bottom: 30px;
}
body.deskTab .item-page--team {
    margin-bottom: 90px;
}
body.deskTab .historie .team-item--text {
	-ms-flex-preferred-size: 55%;
	    flex-basis: 55%;
}
.historie .team-item--text div {
    padding: 0px 20px 0px 0px;
}
body.desktop .historie .item-page--img img {
	width: 500px;
	height: auto;
}
.historie-bottom,
.soziales-bottom {
    margin: 60px 0px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.historie-bottom--text div h2,
.soziales-bottom--text div h2 {
	font-size: 18px;
	margin-bottom: 20px;
}
body.deskTab .historie-bottom--text div {
    width: 450px;
}
.historie-bottom--img {
    width: 245px;
}
body.deskTab .flex.soziales-bottom div {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
}
body.deskTab .soziales .item-page--text,
body.deskTab .soziales-bottom--text {
    padding: 0px 40px 0px 0px;
}
.projekte .article-Body>h2,
.kundenstimmen .article-Body>h2 {
	margin-top: 60px;
}

/*galerie CSS*/
.gallery--slides img {
    height: initial;
    max-width: initial;
    vertical-align: initial;
    border: initial;
    -ms-interpolation-mode: initial;
}
body.projekte .above-the-fold {
    position: relative;
}
body.deskTab .gallery--slider {
    width: 720px;
}
.gallery--slider {
    height: auto;
    text-align: center;
    overflow: hidden;
}

.gallery--slides {
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}
/* .gallery-slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.gallery-slides::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}
.gallery-slides::-webkit-scrollbar-track {
    background: transparent;
} */
.gallery-slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 300px;
    height: 300px;
    margin-right: 50px;
    border-radius: 10px;
    background: #eee;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}
.gallery--slider a.thumb-img img {
    width: calc(100% / 4.1);
}
.gallery--slider > a {
    /* display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 0.5rem 0;
    position: relative; */
}
.gallery--slider > a:active {
    top: 1px;
}
.gallery--slider > a:focus {
    background: #000;
}
@supports (scroll-snap-type) {
    .gallery--slider > a {
        display: none;
    }
}
div[id^="gallery-modal"] {
    display: none;
}
div[id^="gallery-modal"] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.gallery-modal--content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    background: rgba(0,0,0,0.7);
}
span.gallery--close {
    position: absolute;
    right: 400px;
    font-size: 62px;
    color: #fff;
    top: 170px;
    cursor: pointer;
}
body.deskTab .gallery--slides div,
body.deskTab .gallery--slides img {
    width: 720px;
}
.gallery--caption p {
    background: #fff;
    margin: 0px;
    padding: 10px 0px;
}
body.deskTab .gallery--item {
    width: 314px;
    height: 314px;
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0);
    transition: all 0.3s ease-in-out;
}
body.desktop .gallery--item:hover {
	box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.8);
}
body.deskTab .gallery--row {
    margin-bottom: 60px;
}
.gallery--preview:hover {
	cursor: pointer;
}
.gallery--preview {
	width: inherit;
	height: inherit;
	position: relative;
    overflow: hidden;
}
.gallery--preview img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
body.desktop .gallery--preview:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
}
body.desktop .gallery--preview:after {
    transform: scale(1);
    opacity: 1;
    transition: transform 0.3s, opacity 0.1s ease-in-out;	
}
body.desktop .gallery--preview:hover:after {
    transform: scale(0);
    opacity: 0;
    transition: transform 0.6s, opacity 0.1s ease-in-out;
}
h3.gallery--preview--header {
    position: absolute;
    width: 90%;
    bottom: 30px;
    left: 0;
    font-size: 18px;
    color: #fff;
    z-index: 1;
    position: absolute;
    bottom: 30px;
    left: 0;
    font-size: 18px;
    color: #fff;
    z-index: 1;
    padding: 5px 10px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    transform: translateY(0%);
    opacity: 1;
    transition: transform 0.5s, opacity 1.2s ease-in-out;
}
body.desktop .gallery--preview:hover h3.gallery--preview--header {
	    transform: translateY(100px);
	    opacity: 0;
	    transition: transform 1s, opacity 0.2s ease-in-out;
}
/*<----- END galerie CSS*/
.kd-stimme {
    margin: 30px auto;
    padding: 30px 0px;
}
.kundenstimmen blockquote {
    padding: 0;
    margin: 0 0 20px;
    border-left: none;
    font-style: italic;
    font-size: 16px;
}
body#body.kundenstimmen p.quote-src {
    font-size: 12px;
    font-weight: bold;
}



body.not_home footer.footer {
    background: #f3f3f3;
}
body.not_home .logo--small__footer {
    padding-top: 30px;
}
.footer--bottom {
    text-align: center;
    margin: 60px 0px;
}
.logo--small__footer {
    margin: 50px 0px;
}
.copyWrapper {
    padding: 10px 0px 20px 20px;
}
body.kontakt i.fa.fa-share {
    display: none;
}
body.kontakt button.ap-btn {
    background: var(--first-color);
    background-image: none;
    border: 1px solid var(--first-color);
    text-shadow: none;
    color: #fff;
    box-shadow: 0px 10px 30px -13px rgba(93, 93, 93, 0.9);
    transition: all 0.3s ease-in-out;
}
body.kontakt button.ap-btn:hover {
    color: var(--first-color);
    background: #fff;
}
body.desktop .item-page.impressum,
body.desktop .item-page.datenschutz {
    margin-top: 140px;
}
.imprLink {
	color: var(--first-color);
}
body:not(.phone) .kontakt-info--top {
    width: 660px;
    margin: 60px auto;
}
body:not(.phone) .kontakt-info--top--item {
    width: 50%;
    float: left;
}

/*resize Alarm*/
body.desktop #resizeAlarm {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    z-index: 999;
}
body.desktop #resizeAlarm p {
    line-height: 80px;
    color: #fff;
    font-size: 21px;
    text-shadow: 2px 2px 3px #333333;
    -webkit-transform: translate(0%,50%);
        -ms-transform: translate(0%,50%);
            transform: translate(0%,50%);
}

body.Firefox .scroll-top-wrapper {
    font-weight: bold;
    line-height: 35px;
}
.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 4;
    background-color: var(--first-color);
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 45px;
    right: 5%;
    bottom: 10%;
    border-radius: 3px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    font-size: 30px;
    border: 2px solid var(--first-color);
}
body.desktop .scroll-top-wrapper:hover {
    color: var(--first-color);
    background-color: transparent;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
    opacity: 0.6;
}
.scroll-top-wrapper i.fa {
  line-height: inherit;
}


/*cookie control*/
body#body #cookiesck {
    box-shadow:  0px -11px 40px -5px rgba(0, 0, 0, 0.4);
}
body#body #cookiesck .cookiesck_inner a,
a.cookieImp {
    color: #fff;
    text-decoration: underline;
/*    font-size: 16px;*/
}
body#body #cookiesck_accept {
    background: #fff;
    color: #673f25;
    float: none;
    width: 110px;
    margin: 20px auto 0px !important;
    border: 1px solid #673f25;
}
body#body #cookiesck_readmore {
    margin: 1px 0px 1px 1px;
    color: #fff;
    float: none;
    text-decoration: underline;
    padding: 0px;
}
body#body #cookiesck {
    padding: 5px 10px 5px;
/*    font-size: 16px;*/
}
body#body #cookiesck_readmore:hover,
body#body a.cookieImp:hover {
    color: #fff;
    background: transparent;
}
body#body #cookiesck .cookiesck_inner,
a.cookieImp {
    display: initial;
    line-height: 20px;
}
body#body #cookiesck_accept:hover {
    font-size: initial;
    background: #673f25;
    color: #fff;
    border-color: #fff;
}
@media(max-width: 1280px) {
    body#body.mobile #cookiesck_accept {
        width: 100px;
        padding: 5px;
    }
    body#body.site div#cookiesck span,
    body#body.site div#cookiesck a,
    body#body.site div#cookiesck p {
      font-size: 12px !important;
    }
    body#body.site #cookiesck_readmore {
      padding: 0px !important;
    }
    body#body.site #cookiesck_accept {
      float: none !important;
      margin: 10px auto !important;
    }
    body#body.site #cookiesck {
      line-height: 25px !important;
    }
}
@media(max-width: 1366px) {
  body#body.site #cookiesck {
      text-align: center;
  } 
  body#body.mobile #cookiesck_accept {
      width: 110px;
  }
}

a.cookieImp,
body#body #cookiesck_readmore {
    text-decoration: underline;
    text-shadow: 0px 3px 5px #525252;
    color: #fff;
}
body#body a.cookieImp:hover,
body#body #cookiesck_readmore:hover {
    color: #777;
    text-shadow:none;
}